.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.users {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.messages{
    padding: 10px;
}

.users .active {
    color: red;
}
